# Node.js
node_modules/
dist/

# Vite
.vite/

# Build output
build/
*.log

# SQLite DB
*.sqlite

# VS Code / JetBrains / Rider / VS
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
*.db

# Others
.env
.DS_Store
